*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em;
    background-color: seagreen;
    width: 100%;
    color: white;
    margin-bottom: 1.6em;
    
}
.coolTittle{
    color: white;
    margin-left: 1em;
    font-weight: bold;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.mlink{
    padding: 1em;
    color: white;
    text-transform: uppercase;
} 
.mlink:hover{
    color:goldenrod;
}
.icon{
    display: none;
}
.show{
    font-weight: bold;
}
.hide{
    font-weight: bold;
}

@media screen and (max-width:500px) {
    .coolTittle{
        padding: .7em;
    }
    .icon{
        display: contents;
        padding-right: .3em;
    }
    .sidenav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: seagreen;
        top:3em;
        /* initially zero to -100 */
        left:-100%; 
        text-align: center;
        transition: all .5s;
    }
    .closeside{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: seagreen;
        top:3em;
        /* initially zero to -100 */
        left:0; 
        text-align: center;
        transition: all .5s;
    }
    .mlink{
        display: block;
        line-height: 2em;
        font-weight: bold;
    }
    .mlink:active,.mlink:hover{
        color: goldenrod;
    }
}

