*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.form{
    margin-left: 37%;
    margin-right: 37%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
    display: flex;

}
.btn{
    padding: .77em;
    margin-left: .4em;
    border: 1.9px solid seagreen;
    border-radius: 3px;
    background-color: seagreen;
    color: white;
}
.input{
    border: none;

}


@media screen and (max-width: 1130px) {
    .form{
        margin-left: 30%;
        margin-right: 30%;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2em;
        display: flex;
        
    
    }

    
}

@media screen and (max-width: 740px) {
    .form{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.2em;
        display: flex;
    
    }

    
}

@media screen and (max-width:500px) {
    .form{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    display: flex;

}

    
    
}

@media screen and (max-width:400px) {

    .form{
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    display: flex;

}
    
}

@media screen and (max-width:350px) {
    .form{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    display:flex;
    margin: .3em;

}
    
}

@media screen and (max-width:303px) {
    .form{
        margin-left: 5%;
        margin-right: 5%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
        display: flex;
        
    
    }
    .btn{
        margin-top: .6em;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        width:100%;
    }
    .form{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        width:100%;
        
    }
   
    
}



