*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.txtfield{
    height: 3em;
}
.button{
    height: 4.1em;
    padding: 4px;
    margin-left:1em;
    border:1px solid gray;
    color: white;
    font-family: cursive;
    border-radius: 3px;
    background-color: rgb(114, 154, 114);
}

