*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.beverage{
  margin-left:15% ;
  margin-right: 15%;
  align-items: center;
  margin-bottom: 1em;
  color: white;
}
.progress{
  top: 50%;
  left: 50%;
  position: fixed;
    
}

.image{
  margin-left: .8em;
  border-radius: 8px;
  

}
.title{
  text-decoration: underline;
}

@media screen and (max-width:500px) {
  .beverage{
    margin-left:5% ;
    margin-right: 5%;
    align-items: center;
    margin-bottom: 1em;
    color: white;
  }
  .text{
    text-decoration: underline;
    letter-spacing: .4em;
    font-family: fantasy;
  }
  .image{
    margin-left: .4em;
    border-radius: .4em;
    height: 5em;
    width: 3em;
  }
  
}

