*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.beverage{
    margin-left:25% ;
    margin-right: 15%;
    align-items: center;
    background:linear-gradient(rgba(6, 71, 5, 0.3),rgba(13, 230, 13, 0.3)),url('..//../public/Images/Lemon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}