*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.burger{
    margin-left:15% ;
    margin-right: 15%;
    align-items: center;
    margin-bottom: 2em;
}
.image{
    margin-left: 4em;
    margin-top: 0em;
}
.progress{
    top: 50%;
    left: 50%;
    position: fixed;
}
.image2{
    margin-left: 2.3em;
    border-radius: 8px;
}
.table{
    width: 100%;
}
@media screen and (max-width:500px) {
    .burger{
        margin-left:5% ;
        margin-right: 5%;
        align-items: center;
        margin-bottom: 1em;
        color: white;
    }
    .image2{
        margin-left: .9em;
        border-radius: .2em;
        height: 7em;
        width: 7em;
    }
    .coolimg{
        margin-left: .9em;
        border-radius: .2em;
        height: 5em;
        width: 5em;

    }
    
}


