*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.myfooter{
    margin-top: 4em;
}
.footer{
    bottom: 0;
    position: fixed;
    height: 8vh;
    left: 0;
    width: 100%;
    background-color: seagreen;
    color: white;
   
}
.about{
    color: white;
    text-align: center;
    letter-spacing: .2em;
}
.copyright{
    text-align: center;
    letter-spacing: .2em;
}
.mytxt{
    text-align: center;
}
