*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.footer{
    bottom: 0;
    position: fixed;
    height: 8vh;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(7, 198, 93, 0.3),rgba(2, 82, 38, 0.3));
}
.footcontent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    
}
.about{
    margin-top: .2em;
    padding: .1em;
    text-decoration: none;
    
}
.copyright{
    margin-bottom: 1.1em;
}